body {
  background-color: darkgrey;
  display: block;
  text-align: center;
}

.header {
  margin-top: -10px;
  margin-bottom: -35px;
  font-family: 'Jura', sans-serif;
  font-size: 120px;
  font-weight: bold;
}

canvas {
  background: black;
  position: relative;
}

.footer {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Michroma', sans-serif;
  font-size: 30px;
}
