body {
  background-color: darkgrey;
  display: block;
  text-align: center;
}

.header {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 120px;
  font-weight: bold;

}

/* #ball {
  width: 4px;
  height: 4px;
  background-color: white;
  position: absolute;
} */

canvas {
  background: black;
  position: relative;
  /* height: 500px;
  width: 500px; */
}

.footer {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Michroma', sans-serif;
  font-size: 30px;

}
