body {
  background-color: darkgrey;
  display: block;
  text-align: center;
}

.header {
  margin-bottom: 70px;

}

#ball {
  width: 4px;
  height: 4px;
  background-color: white;
  position: absolute;
}

canvas {
  background: black;
  position: relative;
  /* height: 500px;
  width: 500px; */
}

.footer {

}
